div.row{
    margin-top: 20px;
    margin-bottom: 20px;
}
.modalCustom {
    background-color: gray;
    opacity: 0.5;
}

div.page-header {
    padding-bottom: 9px;
    margin: 20px 0;
    border-bottom: 1px solid #eee;
    text-align: center;
}

.overlay{
    position: fixed;
    height: 100vh;
    width: 100vw;
    background: rgba(0,0,0,0.5);
    z-index: 1000;
    /* Display block instead of inline */
    transition: 0.3s;
}

.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: bold;
    line-height: 1;
    color: #ffffff;;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

.label-danger {
    background-color: #d9534f;
}

.label-default {
    background-color: #5bc0de;
}

.label-info {
    background-color: #777777;
}

#spSort {
    text-align: center;
}

button.submit-form {
    margin-right: 10px;
}

button.btn-pink-1 {
    color: #fff;
    background-color: #eac1f5;
    border-color: #dc8fe6;
}

button.btn-pink-1:hover {
    color: #fff;
    background-color: #dc8fe6;
    border-color: #dc8fe6;
}

tr.table-pink-1 {
    color: #fff;
    background-color: #eac1f5;
}

tr td a {
    color: #777777;
}

tr td a:hover {
    color: #df69ef;
    text-decoration: none;
}

tr td p {
    color: #777777;
}

span.level-pink {
    color: #fff;
    background-color: #eac1f5;
}

li.nav-item a {
    color: #dc8fe6;
}

tr:hover {
    background-color: #f9e2ff;
    color: #777777;
}