div.row{
    margin-top: 20px;
    margin-bottom: 20px;
}
.modalCustom {
    background-color: gray;
    opacity: 0.5;
}

div.page-header {
    padding-bottom: 9px;
    margin: 20px 0;
    border-bottom: 1px solid #eee;
    text-align: center;
}

.overlay{
    position: fixed;
    height: 100vh;
    width: 100vw;
    background: rgba(0,0,0,0.5);
    z-index: 1000;
    /* Display block instead of inline */
    transition: 0.3s;
}

.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: bold;
    line-height: 1;
    color: #ffffff;;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

.label-danger {
    background-color: #d9534f;
}

.label-default {
    background-color: #5bc0de;
}

.label-info {
    background-color: #777777;
}

#spSort {
    text-align: center;
}

button.submit-form {
    margin-right: 10px;
}

button.btn-pink-1 {
    color: #fff;
    background-color: #eac1f5;
    border-color: #dc8fe6;
}

button.btn-pink-1:hover {
    color: #fff;
    background-color: #dc8fe6;
    border-color: #dc8fe6;
}

tr.table-pink-1 {
    color: #dc8fe6;
    background-color: #f0f0f0;
}

tr td a {
    color: #777777;
}

tr td a:hover {
    color: #df69ef;
    text-decoration: none;
}

tr td p {
    color: #777777;
}

span.level-pink {
    color: #fff;
    background-color: #eac1f5;
}

li.nav-item a {
    color: #dc8fe6;
}

tr:hover {
    background-color: #f9e2ff;
    color: #777777;
}

.title {
    font-family: 'Cute Font';
    font-size: 35px;
}

.validation {
    display:none;
    margin: 0 0 10px;
    font-weight:400;
    font-size:13px;
    color: #DE5959;
}

span.required {
    color: #DE5959;
    margin-left: 5px;
}

input.error, select.error {
    border-color: #DE5959;
}

.form-check-input {
    margin-top: 7px !important;
}

.form-check-label {
    margin-left: 10px;
}

.cb-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #777777;
}

/* Hide the browser's default checkbox */
.cb-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    width: 22px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.cb-container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.cb-container input:checked ~ .checkmark {
    background-color: #dc8fe6;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.cb-container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.cb-container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}